jupyter_sphinx==0.5.3
jupyterlab==4.1.1
numpydoc==1.6.0
pydata-sphinx-theme==0.14.4
pyvista==0.43.3
sphinx==7.2.6
sphinx-design==0.5.0
sphinx-gallery==0.15.0
trame==3.5.2
trame-vtk==2.8.3
trame-vuetify==2.4.2
