jupyter_sphinx==0.5.3
jupyterlab==4.4.1
numpydoc==1.8.0
pydata-sphinx-theme==0.16.1
pyvista==0.45.2
sphinx==8.2.1
sphinx-design==0.6.1
sphinx-gallery==0.19.0
trame==3.9.0
trame-vtk==2.8.15
trame-vuetify==3.0.1
