name: Build Docs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-doc.txt
      - name: Install package
        run: python -m pip install .
      - name: Install headless vtk
        run: |
          python -m pip uninstall -y vtk
          pip install vtk-osmesa --extra-index-url https://gitlab.kitware.com/api/v4/projects/13/packages/pypi/simple
      - name: Build documentation
        run: make -C doc html
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: doc
          path: doc/_build/html
