name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
        pyvista-version: ["latest"]
        vtk-version: ["latest"]
        include:
          - python-version: "3.10"
            pyvista-version: "0.44.1"
            vtk-version: "latest"
          - python-version: "3.9"
            pyvista-version: "latest"
            vtk-version: "9.1"

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-test.txt
    - name: Install pyvista version
      if: ${{ matrix.pyvista-version != 'latest' }}
      run: python -m pip install pyvista==${{ matrix.pyvista-version }}
    - name: Install vtk version
      if: ${{ matrix.vtk-version != 'latest' }}
      run: python -m pip install vtk==${{ matrix.vtk-version }}
    - name: Install package
      run: python -m pip install -e .
    - name: List environment
      run: python -m pip list
    - name: Test with pytest
      run: |
        pytest tests --cov=src/pyransame --durations=10
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  type-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-test.txt
    - name: Install package
      run: python -m pip install -e .
    - name: List environment
      run: python -m pip list
    - name: Type check
      run: |
        mypy
